.testimonial-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    border: 1px dashed var(--text-color);
    position: relative;
    padding-bottom: calc(var(--section-padding) / 4);
}

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem 7rem;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

.testimonial:hover{
    cursor: pointer;
}

.testimonial>img{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    margin-bottom: 20px;
}

/* slider */
.testimonial-wrapper .swiper {
    width: 100%;
    height: 70%;
}

.testimonial-wrapper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-wrapper .swiper-pagination-bullet-active{
    background: var(--yellow-color);
}

@media screen and (max-width: 480px){
    .testimonial-wrapper{
        padding: 0;
    }
    .testimonial>img{
        width: 70px;
        height: 70px;
    }
  }